{% extends 'base.html.twig' %}

{# "{#" Commentaire en Twig #}
{# "{%" signifie qu'on fait quelque chose #}
{# "{{" signifie qu'on affiche quelque chose #}
{% block body %}
    <!-- {{ name }} est <?= $name; ?> -->
    <!-- Le tild permet la concaténation en Twig -->
    <h1>Hello {{ name ~ ' ' ~ lastname }}</h1>
{% endblock %}
